.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-top: 20px;
}

.row > .turninfo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 900;
  color: slategray;
}

.turntab {
  display: flex;
  font-weight: normal;
  height: 40px;
}

.turntab > .turntabitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  border-radius: 1px solid black;
  /* padding: 0 20px 0 20px; */
}

.turntabitem.underlined {
  color: firebrick;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.extrainfowild {
  position: relative;
  top: 10px;
  font-size: 12px;
  font-weight: normal;
  color: firebrick;
}
.extrainfomisere {
  position: relative;
  top: 10px;
  width: 270px;
  font-size: 12px;
  font-weight: normal;
  color: firebrick;
}
.grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  width: 100px;
  height: 100px;
  margin: 2px;
  border-radius: 1px;
  cursor: pointer;
}

.cell.highlighted {
  background-color: aquamarine;
}

.button {
  appearance: none;
  background: none;
  font-size: 18px;
  min-height: 40px;
  min-width: 150px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: steelblue;
  border-radius: 1px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}
