.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-top: 20px;
}

.turninfo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 900;
  color: slategray;
  user-select: none;
  -webkit-user-select: none;
}

.turntab {
  display: flex;
  font-weight: normal;
  height: 40px;
}

.turntab > .turntabitem {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  width: 140px;
  height: 40px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-transform: uppercase;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.turntabitem.highlighted {
  color: firebrick;
  background-color: rgba(255, 215, 0, 10);
  border-bottom: 1px solid rgba(128, 128, 128, 0.8);
  transition: all 0.3s ease 0s;
}

.result {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: gray;
  height: 255px;
}

.result > span:first-child {
  white-space: pre;
}

.result > span:nth-child(2) {
  color: coral;
}

.wildhint {
  font-size: 12px;
  font-weight: normal;
  color: firebrick;
}

.miserehint {
  width: 270px;
  font-size: 12px;
  font-weight: normal;
  color: firebrick;
}

.grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  user-select: none;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  width: 100px;
  height: 100px;
  margin: 2px;
  border-radius: 1px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.cell.highlighted {
  background-color: rgb(255, 255, 102, 0.8);
}

.button {
  appearance: none;
  background: none;
  font-size: 18px;
  min-height: 40px;
  min-width: 150px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: white;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: steelblue;
  border-radius: 1px;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.loader {
  display: flex;
  position: absolute;
}

.overlay {
  position: absolute;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  user-select: none;
}

.overlay > div {
  width: 105px;
  height: 105px;
  background-color: rgba(255, 255, 255, 0.3);
}

.loader > .spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

select {
  display: flex;
  font-size: 14px;
  border-radius: 5px;
  background: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
}
